	<!------------------base page of contractor----------------------->
    {% load static %}

    <!DOCTYPE html>
    <html lang="en">
    
    <head>
    
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
    
      <title>CONTRACTOR</title>
    
      <!-- Bootstrap core CSS -->
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    
      <!-- Custom styles for this template -->
      <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'css/util1.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/main1.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/util2.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/main2.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/util3.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/main3.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
    
    </head>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      
    
      <!-- Menu Toggle Script -->
      <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
      </script>
    
    
    <body>
    
      <div class="d-flex" id="wrapper">
    
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="sidebar-heading">CONTRACTOR</div>
          <div class="list-group list-group-flush">
      
          
                       
                     
              <a href="#" class="list-group-item list-group-item-action bg-light"></a>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Assigned works
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'contractor_view_work' %}">My works</a>
                    <a class="dropdown-item" href="{% url 'adminremovecontractor' %}">Remove contractor</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"></a>
                  </div> 
            <a href="{% url 'adminaddemployee' %}" class="list-group-item list-group-item-action bg-light">Add employee</a>
            <a href="{% url 'adminremoveemployee' %}" class="list-group-item list-group-item-action bg-light">Remove employee</a>
            <a href="{% url 'adminviewemployee' %}" class="list-group-item list-group-item-action bg-light">View employee</a>
            <a href="{% url 'adminviewcontractor' %}" class="list-group-item list-group-item-action bg-light">View contractor</a>
            <a href="{% url 'adminaddcontract' %}"  class="list-group-item list-group-item-action bg-light">Add new contract</a> 
          </div>
        </div>
        <!-- /#sidebar-wrapper -->
    
        <!-- Page Content -->
        <div id="page-content-wrapper">
    
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">logout</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
          <table class="table table-dark table-bordered">
            <th>id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Type</th>
            <th>Fromdate</th>
            <th>To date</th>
            <th>Budget</th>
            <th>Number of employees</th>
            <th>id</th>
            <th>select status</th>
            <th></th>



                                 
             
                               
            {%if authors%}
            {%for i in authors%} 
                                <tr>
                                <form class="form-control" action="{% url 'updatestatus' %}" method="post">
                                    {% csrf_token %}
							
                                <td class=""><input class="bg-dark text-white form-control input-sm" type="text" name="id" value="{{i.id}}" readonly></td>
            
                                <td class=""><input  class="bg-dark text-white form-control input-sm" type="text" name="client" value="{{i.name}}" readonly></td>
                                <td class=""><input  class="bg-dark text-white form-control input-sm" type="text" name="email" value="{{i.phone}}" readonly></td>
                                <td class=""><input  class="bg-dark text-white form-control input-sm" type="text" name="phpne" value="{{i.type}}" readonly></td>
                                <td class=""><input  class="bg-dark text-white form-control input-sm" type="text" name="nid" value="{{i.fromdate}}" readonly></td>
                                <td class=""><input  class="bg-dark text-white form-control input-sm" type="text" name="nid" value="{{i.todate}}" readonly></td>
                                <td class=""><input  class="bg-dark text-white form-control input-sm" type="text" name="nid" value="{{i.enumber}}" readonly></td>
                                <td class=""><input  class="bg-dark text-white form-control input-sm" type="text" name="salary" value="{{i.budget}}" readonly></td>
                                <td class=""><input  class="bg-dark text-white form-control input-sm" type="text" name="id" value="{{i.contractor}}" readonly></td>
                                <td class="">   <div class="wrap-input100">
                                    <div class="label-input100 bg-dark text-white">Status</div>
                                    <div>
                                        <select class="js-select2 bg-dark text-white" name="status">
                                       
                                            <option>pending</option> 
                                            <option>approved</option> 
                                            <option>completed</option> 

                                          
            
                                        </select>
                                <div class="dropDownSelect2"></div>
                                    </div>
                                    <span class="focus-input100"></span>
                                </div></td>
                                <td class=""><input  class="bg-dark text-white form-control input-sm" type="text" name="grade" value="{{i.status}}" readonly></td>

                                <td class=""><button type="submit" class="btn-danger  btn btn-block " name="submit" value="UPDATE">update</button></td>

                                        
                                </form>
                              </tr>
            {%endfor %}
            {%endif %}                   
            
                            
            
                                 
                    
        </table>
        </div>
        <!-- /#page-content-wrapper -->
    
      </div>
      <!-- /#wrapper -->
    
      <!-- Bootstrap core JavaScript -->
    
    
      <!-- Menu Toggle Script -->
      <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
      </script>
      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; constra software solutions 2019</p>
        </div>
        <!-- /.container -->
      </footer>
                   
 